.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
}
/***********/
.App-header {
  width: 100vw;
  background-color: #282c34;
  height: 15vh;
  color: white;
 }

/***********/
.App-footer {
  background-color: #282c34;
  width: 100vw;
  color: white;
}

/***********/
.App-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100vw;
  height: 85vh;
  background-color: dodgerblue;
 }
/***********/
.App-content-top {
 background-color: darkgreen;
}

.App-content-center {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.App-content-center div{
  border: 2px solid #444;
  border-radius: 20px;
  background-color: rgb(247, 239, 240);
  width: 15vw;
  height: 15vh;
  
}


.App-content-bottom{
  background-color: rgb(241, 24, 24);

}



/*************************************/
.App-content-right{
  /* background-color: #40e90d; */
  width: 80vw;
  height: 100%;
}
.App-content-left{
  /* background-color: #2a1edb; */
  width: 20vw;
  height: 100%;
}

